// clear default tag
img{
    width: 100%;
    height: auto;
}
a{
    display: block;
    color: unset;

    &:hover{
        color: #fff;
        text-decoration: none;

    }
}

// inline class

.centering{
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-text{
    color: #024a23;
    font-weight: 700;
}

// custom